.contractDiagramDiv {
    background: whitesmoke;
    width: 100%;
    min-height: 80vh;
    margin: 0px;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    /* mobile webkit */
}

.contractPaletteDiv {
    position: relative;
    width: 100%;
    min-height: 50vh;
    margin: 0px;
}
