<section id="contract" class="section contract-section">
    <div class="container">
        <div class="contract">
            <div class="contract-sidebar">
                <div class="contract-sidebar__title">Contract tools</div>
                <div class="contract-sidebar__subtitle">Contract rules</div>
                <app-chart-tools></app-chart-tools>
                <!-- <div class="contract-sidebar__row">More rules <img src="assets/img/down-chevron.png" alt="down">
                </div> -->
                <div class="contract-sidebar__row">Simulate Income</div>
                <div class="contract-sidebar__row contract-sidebar__row--grey">
                    $<span>500 000</span>
                </div>
                <div class="contract-sidebar__row">Run Simulation</div>
            </div>
            <div class="grid">
                <app-chart-drawing></app-chart-drawing>
            </div>
            <div class="contract-team">
                <div class="contract-team__images">
                    <div class="contract-team__img">
                        <img src="assets/img/human-2.png" alt="human">
                    </div>
                    <div class="contract-team__img">
                        <img src="assets/img/human-3.png" alt="human">
                    </div>
                    <div class="contract-team__img">
                        <img src="assets/img/human-4.png" alt="human">
                    </div>
                </div>
                <a href="" class="contract-team__btn">
                    Manage team
                </a>
                <a class="contract-team__btn" id="outputBtn">
                    Output
                </a>
                <a class="contract-team__btn" id="exportBtn">
                    Export
                </a>
            </div>
        </div>
    </div>
</section>