<header id="account-header" class="section account-header-section">
    <div class="container">
       <div class="account-header">
          <div class="account-header__logo">
              <img src="assets/img/logo.png" alt="logo">
              <p>Contract Creator</p>
          </div>
           <div class="account-author">
               <div class="account-author__top">
                   <div class="account-author__img">
                       <img src="assets/img/human-1.png" alt="human">
                   </div>
                   <div class="account-author__text">
                        <span>Account</span>
                       <img src="assets/img/down-chevron.png" alt="down">
                   </div>
               </div>
           </div>
       </div> 
    </div>
</header>